<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <form action="/weather/api" method="post">

        <label for="">Latitude</label>
        <input type="text" name="lat" id="">
        <br>
        <br>
        <label for="">Longitude</label>
        <input type="text" name="lon">
        <br>
        <br>
        <input type="submit" value="Submit">

    </form>


</body>

</html>